<h2>新しいアカウントを作成</h2>

<%= f.label :name, "ユーザーネーム" %><br />
<%= f.text_field :name, class: "form-control"%>

<%= f.label :email,"Eメール" %><br />
<%= f.email_field :email, autofocus: true, autocomplete: "email" %>

<%= f.label :password, "パスワード" %>
<% if @minimum_password_length %>
<em>(<%= @minimum_password_length %> 文字以上)</em>
<% end %><br />
<%= f.password_field :password, autocomplete: "new-password" %>

<%= f.label :password_confirmation, "パスワード確認" %><br />
<%= f.password_field :password_confirmation, autocomplete: "new-password" %>

<%= f.submit "新しいアカウントを作成" %>
